{
  "parserOptions": {
    "ecmaVersion": 2022
  },

  "extends": "airbnb",

  "env": {
    "browser": true
  },

  "rules": {
    "linebreak-style": ["error", "windows"],
    "no-unused-vars": "warn",
    "import/newline-after-import": "off",
    "object-curly-newline": "off",
    "padded-blocks": "off",
    "no-multiple-empty-lines": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "no-console": "off",
    "no-shadow": "off",
    "react/jsx-fragments": "off",
    "react/state-in-constructor": "off",
    "react/jsx-no-target-blank": "off",
    "class-methods-use-this": "off",
    "arrow-body-style": "off",
    "comma-dangle": "off",
    "camelcase": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-tabindex": "off",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off"
  }
}