.container {
	align-items: flex-start;
	width: 580px;
	margin-top: 30px;
	padding: 0 20px;
}

.about {
	width: 100%;
}

.btn {
	width: 100%;
}

.output {
	margin-top: 40px;
}

#output-path {
	font-weight: bold;
}

#toast-container {
	position: fixed !important;
	top: 0px !important;
	left: 0px !important;
}

/* ======================================= */

textarea {
	padding: 10px;
	resize: none;
	border-radius: 3px;
}

textarea::placeholder {
	color: gray;
}

.bordered {
	margin-bottom: 20px;
	margin-top: 0;
}

.label {
	text-align: left;
	margin-top: 0;
	margin-bottom: 4px;
}

#urls-list {
	height: 200px;
	width: 100%;
}

#dest-input {
	height: 41px;
	margin-bottom: 20px;
}

.info-area {
	padding: 10px;
	border: 1px solid gray;
	border-radius: 3px;
}

.info-item {
	margin: 0;
}

.info-title {
	font-weight: 500;
}

#submit-btn {
	margin-top: 15px;
}
